body {
  all: unset;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: sans-serif;
  color: #666666;
  font-size: 14px;
  background-color: #f8f8f8;
}

a {
  text-decoration: none;
  color: rgb(2, 77, 107);
  font-weight: bold;
}

a:hover {
  color: skyblue;
}

header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #f2f2f2;
  box-shadow: 0px 0 2px 0px rgb(168, 168, 168);
}

header nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  padding: 1rem;
  font-size: 0.8rem;
}

header nav a {
  border: 1px solid lightgray;
  border-radius: 0.3rem;
  padding: 0.1rem 0.3rem;
  font-weight: 400;
}

header nav a:hover {
  color: skyblue;
}

main {
  margin-inline: auto;
  padding-block: 3rem;
}

.bordered {
  position: relative;
  background-color: #fff;
  padding: 2rem;
  box-shadow: inset 2px 2px 5px 0px #eeebeb;
}

.bordered::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: -4rem;
  right: 1rem;
  z-index: -1;
  border: 5px solid #f3f3f3;
  rotate: -10deg;
  background-color: skyblue;
  box-shadow: 4px 3px 1px 0px #e8e4e3;
  transition: all 4s ease-in-out;
}

.bordered:hover::after {
  rotate: 360deg;
  background-color: #fff;
  box-shadow: 0px 0px 1px 0px #e8e4e3;
}

.bordered h1 {
  margin-block: 0;
  margin-bottom: 1rem;
}

.image-and-text {
  text-align: center;
}

.image-and-text img {
  width: 230px;
  height: auto;
  border-radius: 50%;
}

.image-and-text h1 {
  margin-bottom: 0;
}

.image-and-text p {
  margin-top: 0.5rem;
  color: lightgray;
}

p {
  all: unset;
  display: block;
  font-size: 0.8rem;
}

.time-line-card {
  padding: 1rem;
  border: 1px solid rgb(235, 235, 235);
  display: grid;
  position: relative;
  transition: all 0.2s ease-in-out;
  margin-top: 0.5rem;
}

.time-line-card + .time-line-card {
  margin-top: 2rem;
}

.time-line-card .time-line-card-date {
  position: absolute;
  background-color: #fff;
  padding-inline: 1rem;
  top: -0.5rem;
  right: 0.5rem;
  color: lightgray;
  font-size: 0.7rem;
}

.time-line-card .time-line-card-text {
  padding-left: 0.5rem;
  margin-top: 1rem;
  position: relative;
}

.time-line-card .time-line-card-text::before {
  content: "";
  width: 5px;
  height: 5px;
  background-color: skyblue;
  position: absolute;
  left: -0.2rem;
  top: 0.2rem;
  transform: rotate(45deg);
  transition: all 1s ease-in-out;
}

.time-line-card .time-line-card-text:hover::before {
  transform: rotate(360deg);
  box-shadow: 0px 0px 1px 0px #e8e4e3;
}

.time-line-card .time-line-footer {
  text-align: right;
}

footer {
  font-size: 0.7rem;
  padding: 1rem;
  position: relative;
}

footer .social-links {
  display: flex;
  gap: 1rem;
  justify-content: end;
  padding: 1rem;
}

footer .social-links a:hover {
  opacity: 0.2;
}

footer::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 30px;
  top: -1rem;
  left: 1rem;
  z-index: -1;
  border: 5px solid #f3f3f3;
  background-color: rgb(77, 240, 156);
  box-shadow: 4px 3px 1px 0px #e8e4e3;
  transition: all 4s ease-in-out;
}

footer:hover::before {
  rotate: 360deg;
  background-color: #fff;
  box-shadow: 0px 0px 1px 0px #e8e4e3;
}

@media (min-width: 1200px) {
  .bordered {
    width: 400px;
    border: none;
  }

  header nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
